section {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.main {
  display: flex;
  flex-flow: column;
  padding-top: 35%;

  .options {
    padding-top: 1.5em;
    font-size: 14px;
    line-height: 2;
  }
}

.mainAdd {
  height: 300px;
  padding-top: 35px;
  

  img {
    max-width: 9em;
  }

  .options {
    font-size: 13px;
    padding-top: 3e;
    padding-top: .8em;
  }

  select {
    width: 10em;
    height: 2.5em;
  }
}



.stories {
  display: flex;
  flex-wrap: wrap;

  a {
    min-width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    display: flex;
  }


  .abstract{
    text-decoration: none;
    color: white;
    line-height: 1.5;
    background-color: rgba(0,0,0,0.6);
    margin-top: 75%;
    padding: .5em;
    width: 100%;
    align-content:flex-end;
    align-items:bottom;
    height:38%;
  }

}

@include tablet {
  .main {
    flex-flow: row;
    padding-top:15%;

    img {
      max-width: 10em;
      padding-left: 2em;
      margin-left: 5em;
    }

    .options {
        padding-top: 10%;
        padding-left: 2em;
        line-height: 2;
    }
  }

 
  .mainAdd {
    height: 150px;
    padding-left: 5em;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    img {
      max-width:5em;
      padding-bottom:2.5em;
    }

    .options {
      padding-left: 5em;
      line-height: 1.5;
      padding-top:0;
      padding-bottom:10px;

      h2{
        line-height: 3;
        font-size:16px;
      }
    }

    select {
      width: 10em;
      height: 2.5em;
    }
  }


  .stories {
    a {
      min-width: 50%;
      max-width: 50%;
    }
    p {
        margin-top: 100%;
    }
    
  
}

@include desktop {
  .main {
    padding-top: 20%;
    flex-flow: row;
    padding-bottom: 200px;

        .options {
            padding-left: 8%;
            padding-top: 5%;
            line-height: 2;

            #drop-down{
                height: 18%;
                width: 105%;
            }
         }

        img{
            max-width:30%;
            margin-left: 0;
         }
    }
  }

  .stories {
    a {
      max-width: 25%;
      min-width: 25%;
    }

    p {
      margin-top: 90%;
      padding: 0.5em;
    }
  }

  .mainAdd {
    height: 150px;
    padding-left: 2em;
    z-index: 3;
    display: flex;

    img {
      max-width:5em;
      padding-bottom:2.5em;
    }

    .options {
      padding-left: 5em;
      line-height: 1.5;
      padding-top:0;
      padding-bottom:10px;

      h2{
        line-height: 3;
        font-size:16px;
      }
    }

    select {
      width: 10em;
      height: 2.5em;
    }
  }
}
